[Desktop Entry]
Type=Application
Name=VoidClip
GenericName=Clipboard Manager
Comment=Keep and reuse your clipboard history
Exec=voidclip
Icon=io.github.akashmahedy.VoidClip
Terminal=false
Categories=Utility;GTK;
Keywords=clipboard;history;paste;copy;clip;
StartupNotify=true
StartupWMClass=io.github.akashmahedy.VoidClip
